<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.41, maximum-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Playfair Display SC' rel='stylesheet'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/{{style}}" type="text/css">
	<script src="https://kit.fontawesome.com/46b1ed83d1.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<title>PROST.</title>
</head>

<body class="body">
	<div class="container-fluid">
      <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <ul class="nav navbar-nav" id="navbar">
                {{#if loggedIn}}
                <li id="logout"><a href="" class="btn btn-secondary btn-rounded my-3" data-toggle="modal" data-target="#darkModalForm">Log Out</a></li>
                <li id="favorites"><a href="/dashboard" class="btn btn-secondary btn-rounded my-3">Favorites</a></li>
                {{else}}
                <li id="list"><a href="" class="btn btn-secondary btn-rounded my-3" data-toggle="modal" data-target="#darkModalForm">Sign In</a></li>
                {{/if}}
          </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </div>

    <div class="container-fluid">
      <header>
          <h1 class="main-header"><a href="/"> <img src="https://images.squarespace-cdn.com/content/v1/578d380ed1758ea279dff7ad/1470955349442-O34E4WM5KSY1H4UEAEFP/alleywebwhite.png?format=1500w" alt="logo"></a> </h1>
      </header>
    </div>
     
              {{#if loggedIn}}
              <script src="/js/logout.js"></script>
              {{else}}
              <script src="/js/login.js"></script>
              {{/if}}

	{{{ body }}}

     <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>