{{> nav/nav}}



    <div class="container-fluid">
      <header>
          <h1 class="main-header">PROST.</h1>
      </header>
    </div>

    <header>
        <h2 class="favorites-header">Your Favorites</h2>
    </header>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="/images/margarita.jpg" alt="margarita" style="width:270px;height:400px">
            </div>
            <div class="flip-card-back">
                <h1>Margarita</h1>
                <ul>
                    <li>1 1/2oz Tequila</li>
                    <li>3/4 oz Cointreau</li>
                    <li>3/4 oz Lime</li>
                    <li>Long, hard shake</li>
                    <li>Dbl Strain</li>
                    <li>With or without salt?</li>
                    <li>Up or Rocks?</li>
                    <li>Garnish with a lime wheel</li>
                </ul>
            </div>
        </div>
    </div>

        
    
    
    
    </div>







