{{> nav/nav}}

    <div class="container-fluid">
      <section class="hero">
        
      </section>
    </div>

      <form id="form" role="search">
        <input type="search" id="query" name="q"
        placeholder="Search cocktail..."
        aria-label="Search through site content">
        <button id="search-button">Search</button>
      </form>

      <button id="random">A shot in the dark.</button>

      <br>
      <br>

      <div class="card-deck" id="main-card-deck">
        <div class="card" style="width:20rem;">
          <a href="/top10">
            <img class="card-img-top" src="/images/top10.jpg" alt="People toasting over drinks.">
          </a>
          <div class="card-block">
            <h4 class="card-title">Top 10</h4>
          </div>
        </div>
        <div class="card" style="width:20rem;">
          <a href="/gin">
            <img class="card-img-top" src="/images/gin.jpg" alt="People toasting over drinks.">
          </a>
          <div class="card-block">
            <h4 class="card-title">Gin</h4>
          </div>
        </div>
        <div class="card" style="width:20rem;">
          <a href="/whiskey">
            <img class="card-img-top" src="/images/whiskey.jpg" alt="People toasting over drinks.">
          </a>
          <div class="card-block">
            <h4 class="card-title">Whiskey</h4>
          </div>
        </div>
        <div class="card" style="width:20rem;">
          <a href="/tequila">
            <img class="card-img-top" src="/images/tequila.jpg" alt="People toasting over drinks.">
          </a>
          <div class="card-block">
            <h4 class="card-title">Tequila</h4>
          </div>
        </div>
        <div class="card" style="width:20rem;">
          <a href="/vodka">
            <img class="card-img-top" src="/images/vodka.jpg" alt="People toasting over drinks.">
          </a>
          <div class="card-block">
            <h4 class="card-title">Vodka</h4>
          </div>
        </div>
        <div class="card" style="width:20rem;">
          <a href="/rum">
            <img class="card-img-top" id="rum-pic" src="/images/rum.jpg" alt="People toasting over drinks.">
          </a>
          <div class="card-block">
            <h4 class="card-title">Rum</h4>
          </div>
        </div>
        <div class="card" style="width:20rem;">
          <a href="/brandy">
            <img class="card-img-top" src="/images/brandy.jpg" alt="People toasting over drinks.">
          </a>
          <div class="card-block">
            <h4 class="card-title">Brandy</h4>
          </div>
        </div>
        <div class="card" id="cord-box" style="width:20rem;">
          <a href="cordials">
            <img class="card-img-top" id="cord-pic" src="/images/espresso.jpg" alt="People toasting over drinks.">
          </a>
          <div class="card-block">
            <h4 class="card-title" id="cordials">Cordials & Liquers</h4>
          </div>
        </div>
        
      </div>
      <br>
      <br>
      <br>
      <br>


