{{> nav/nav}}
{{> nav/login}}

        
<<<<<<< HEAD
<div class="single-card" style="width:18rem;">
    <img src="/images/{{name}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h1>{{drinks.name}}</h1>
=======
<div class="card" style="width:18rem;">
    <img src="/images/{{drinks.name}}.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h1>{{ drinks.name }}</h1>
        {{> nav/comments drinks.comments}}
>>>>>>> 84fdc30e968c1b94c7f9ae75568d76f99d978f32

        <form class="comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>

        <div>
            <button type="submit">add comment</button>
            <button type="button" class="upvote-btn">upvote</button>
        </div>
        </form>



    </div>
<<<<<<< HEAD
</div>     
=======
</div>       
        
>>>>>>> 84fdc30e968c1b94c7f9ae75568d76f99d978f32
