.body {
    text-align: center;
    background-color: lightgray;
    font-family: 'Playfair Display SC';
}
/* nav */
.main-header {
    text-align: center;
    background-color: #212529;
    color: white;
    font-size: 100px;
    width: 100%;
    margin: 0 0 5px 0;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

/*hero*/
.hero {
    background-image: url("/images/jumbo.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: scroll;
    background-position: 90%;
    background-position-y: 3px;
    height: 595px;
    width: 100%;
    margin-top: 0;
}



#form {
    margin-top: 40px;
    text-align: center;
    
}

#query {
    width: 50%;
    height: 50px;
    border-radius: 10px;
}

#search-button {
    height: 50px;
    border-radius: 10px;
}

#random {
    margin-top: 40px;
    background-color: #212529;
    color: white;
    text-align: center;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-gap: 1rem;
    margin: 15px;
    justify-items: center;
}

.card {
    display: inline-block;
    border-radius: 15px;
    justify-content: space-between;
    width: 100%;
    height: 285px;
    margin: 15px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.flip-card-back h1 {
    margin-bottom: -0.5rem;
}

.flip-card-back ul {
    margin-right: 1.5rem;
}

#cocktail-header {
    color: black;
}

.heart {
    color: red;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 11px;
}



.card:hover {
    box-shadow: 0 15px 50px 0 rgba(0,0,0,1);
}

.card-block {
    background-color: black;
    color: white;
    padding: -1rem 1rem;
}

.card-title {
    font-size: 4rem;
}

#rum-pic {
    height: 212px;
}

#cord-box {
    height: 268px;
}

#cord-pic {
    height: 218px;
}

#cordials {
    font-size: 4rem;
    height: 72px;
}
/* favorites */
#flip-card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 1rem;
    margin: 15px;
    justify-items: center;
}

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 450px;
    perspective: 1000px;
    margin-left: 50px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: rgb(105, 100, 100);
    color: white;
    transform: rotateY(180deg);
}

.back-list {
  margin-right: 3.5rem;
  margin-top:19px;
}

.instructions {
  padding-left: 0rem;
}

/*sign up modal*/
.form-dark .font-small {
    font-size: 0.8rem; }
  
  .form-dark [type="radio"] + label,
  .form-dark [type="checkbox"] + label {
    font-size: 0.8rem; }
  
  .form-dark [type="checkbox"] + label:before {
    top: 2px;
    width: 15px;
    height: 15px; }
  
  .form-dark .md-form label {
    color: #fff; }
  
  .form-dark input[type=email]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851; }
  
  .form-dark input[type=email]:focus:not([readonly]) + label {
    color: #fff; }
  
  .form-dark input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851; }
  
  .form-dark input[type=password]:focus:not([readonly]) + label {
    color: #fff; }


  #c-tabs {
      padding-left: 114px;
  }


  
  #modal-card {
      height:570px;
      background-size: 510px 570px;
  }
 
  .modal-content {
      border-radius: 5.3;
  }

  .mb-5 {
      margin-bottom: 1rem!important;
  }
  
  .form-dark .modal-header {
      border-bottom: none;
  }


  /* lukes css */

  * {
    box-sizing: border-box;
  }
  

  .wrapper {
    margin: 0 auto;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.15);
    position: relative;
    width: 450px;
  }
  
  input {
    width:100%;
    border: none;
    height: 50px;
    padding: 0px 40px 0px 10px;
    font-size: 18px;
  
  }
  
  input:focus {
    outline: none;
  }
 
  .results {
    padding: 0px;
  }
  
  .results ul {margin: 0; padding: 0; }
  .results ul li {
    list-style: none;
    border-radius: 3px;
    opacity: 0;
    display: none;
    padding: 8px 12px;
    transition: all .5s linear;
  }
  
  .show .results ul li {
    opacity: 1;
    display: block;
  }
    
  .show .results ul li a {
    text-decoration: none;
    color: black;
  }
  
  
  .show .results {
    padding: 10px;
  }
  
  .results ul li:hover {
    background: #ececec
  }

  @media all {
    
    li {
        list-style-position: outside;
        overflow: hidden;
    }
}
