body {
    text-align: center;
    background-color: lightgray;
}

.main-header {
    text-align: center;
    background-color: #212529;
    color: white;
    font-family: 'Special Elite';
    font-size: 100px;
    width: 100%;
    margin: 0 0 5px 0;
}

#list{
    text-align: left;
    font-family: 'Special Elite';
}

.hero {
    background-image: url("/public/images/m-s-meeuwesen-QYWYnzvPTAQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: scroll;
    background-position: 90%;
    background-position-y: -30px;
    height: 595px;
    width: 100%;
    margin-top: 0;
}



#form {
    margin-top: 40px;
    text-align: center;
    
}

#query {
    width: 50%;
    height: 50px;
    border-radius: 10px;
}

#search-button {
    height: 50px;
    border-radius: 10px;
}

#random {
    margin-top: 40px;
    background-color: #212529;
    color: white;
    font-family: 'Special Elite';
    text-align: center;
}



.card {
    display: inline-block;
    border-radius: 15px;
    justify-content: center;
    width: 100%;
    height: 475px;
    margin: 15px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 15px 50px 0 rgba(0,0,0,1);
}

.card-block {
    background-color: black;
    color: white;
    font-family: 'Special Elite';
    padding: -1rem 1rem;
}

.card-title {
    font-size: 4rem;
}


