

<h2>Comments</h2>
<div class="container justify-content-center mt-5 border-left border-right">
    <div class="d-flex justify-content-center flex-column py-2">
      {{#each this}}
        <div class="second py-2 px-2"> <span class="text1">{{comment_text}}</span>
            <div class="d-flex justify-content-between py-1 pt-2">
                <div><span class="text2">{{user.username}} on {{format_date created_at}}</span></div>
                
            </div>
        </div>
        {{/each}}
    </div>
