<div class="container-fluid">
      <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <ul class="nav navbar-nav" id="navbar">
                <li id="list"><a href="" class="btn btn-secondary btn-rounded my-3" data-toggle="modal" data-target="#darkModalForm">Sign In</a></li>
                <li id="list"><a href="/favorites" class="btn btn-secondary btn-rounded my-3">Favorites</a></li>
          </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </div>

    <div class="container-fluid">
      <header>
          <h1 class="main-header">PROST.</h1>
      </header>
    </div>